*{
    margin:0;
  padding:0;
  }

  /* body{
    font-family:arial,sans-serif;
    font-size:100%;
    margin:3em;
    background:#666;
    color:#fff;
  } */
  
  .post-it h2 p{
    font-size:100%;
    font-weight:normal;
  }
  .post-it ul li{
    list-style:none;
  }
  .post-it ul{
    overflow:hidden;
    padding:3em;
  }

  .post-it ul li{
    margin:1em;
    float:left;
  }

  .post-it ul li h2{
    font-size:140%;
    font-weight:bold;
    padding-bottom:10px;
  }

  /* Sombra del post-it */
  .post-it ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:22em;
    width:15em;
    padding:1em;
    /* Firefox */
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    /* Safari+Chrome */
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    /* Opera */
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  }

  /* Rotación del post-it */
  .post-it ul li a{
    -webkit-transform:rotate(-6deg);
    -o-transform:rotate(-6deg);
    -moz-transform:rotate(-6deg);
  }

  .post-it ul li:nth-child(even) a{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
  }
  .post-it ul li:nth-child(3n) a{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
  }
  .post-it ul li:nth-child(5n) a{
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
  }

  /* Acercado del post-it */
  .post-it ul li a:hover, .post-it ul li a:focus{
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position:relative;
    z-index:5;
  }

  /* Notificaciones no leídas */
  .post-it-2 h2 p{
    font-size:100%;
    font-weight:normal;
  }
  .post-it-2 ul li{
    list-style:none;
  }
  .post-it-2 ul{
    overflow:hidden;
    padding:3em;
  }
  .post-it-2 ul li{
    margin:1em;
    float:left;
  }

  .post-it-2 ul li h2{
    font-size:140%;
    font-weight:bold;
    padding-bottom:10px;
  }

  /* .post-it-2 ul li p{
    font-family:"Reenie Beanie",arial,sans-serif;
    font-size:180%;
  } */

  /* Sombra del post-it */
  .post-it-2 ul li a{
    text-decoration:none;
    color:#000;
    background:rgb(147, 213, 242);
    display:block;
    height:22em;
    width:15em;
    padding:1em;
    /* Firefox */
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    /* Safari+Chrome */
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    /* Opera */
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  }

  /* Rotación del post-it */
  .post-it-2 ul li a{
    -webkit-transform:rotate(-6deg);
    -o-transform:rotate(-6deg);
    -moz-transform:rotate(-6deg);
  }

  .post-it-2 ul li:nth-child(even) a{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
  }
  .post-it-2 ul li:nth-child(3n) a{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
  }
  .post-it-2 ul li:nth-child(5n) a{
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
  }

  /* Acercado del post-it */
  .post-it-2 ul li a:hover, .post-it-2 ul li a:focus{
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position:relative;
    z-index:5;
  }